:root {
    /* 網站標準色 */
    --primary-color: #ED8391;
    --deepPink: #D1495B;
    --yellow: #FFC32A;

    /* 自然色 */
    --gray_F3: #f3f3f3;
    --gray_D4: #d4d4d4;
    --black: #000;
    --white: #fff;
}