:root {
    --primary-color: #e0c584;
    --secondary-color: #fff;
    --success-color: #008000;
    --warning-color: #ff8c00;
    --danger-color: #ff0000;
    --info-color: #0000ff;
    --light-gray: #f5f5f5;
    --dark-gray: #a9a9a9;
    --black: #000;
    --white: #fff;
}